.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-buttons > a {
  border: 1px solid #24242C;
}

.auth-container {
  width: 25em;
  background: white;
  padding: 20px 40px;
  border-radius: 5px;
  text-align: center;
}

.auth-container > .logo {
  margin: 30px 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-input, .auth-submit{
  margin-bottom: 30px;
  padding: 20px;
}

.auth-input {
  width: 18em;
  border: 1px solid #eee;
}

.auth-input:focus {
  border: 1px solid #76EBBD;
}

.auth-link {
  margin-top: 20px;
}

.auth-link > a {
  color: #76EBBD;
  text-decoration: underline;
  font-weight: bold;
}

.auth-message {
  margin-top: 0;
}

.auth-submit {
  width: 20.5em;
  background: #76EBBD;
  border: 1px solid #76EBBD;
  color: white;
}


@media (max-width: 750px) {

  .auth {
    overflow: visible;
    padding: 50px 0;
    justify-content: space-around;
  }

  .auth-container {
    width: 75vw;
    padding: 20px;
    overflow: visible;
  }

  .auth-input {
    width: 12em;
  }

  .auth-submit {
    width: 14.5em;
  }

}
