.add-friend-container {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 20px;
}

.add-friend-username {
  width: 75%;
}

.toggle-follow-button, .toggle-unfollow-button {
  width: 25%;
  font-size: .75em;
  border: 1px solid #76EBBD;
}

.toggle-follow-button {
  color: #76EBBD;
  background: #24242C;
  border: none;
}

#logout {
  display: flex;
  justify-content: center;
}

#logout > button {
  background: none;
  text-decoration: underline;
  color: #5F5F65;
  padding: 15%;
}

#profile-bottom {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#profile-data {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  border-right: 1px solid #76EBBD;
}

#user-info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 750px) {

  .toggle-follow-button, .toggle-unfollow-button {
    width: 30%;
  }

  #friends-modal-button {
    padding-left: 20px;
  }

  #logout > button {
    padding: 0;
  }

  #profile-bottom {
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  #profile-data {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #76EBBD;
    flex-direction: column;
    position: relative;
  }

  #user-info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}
