body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background: #24242C;
  color: #9B9B9F;
}

a, li {
  color: inherit;
  text-decoration: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

button, input {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  border-radius: 5px;
}

div {
  overflow: scroll;
}

h1, h2, h3 {
  margin: 0;
  display:flex;
  align-items: center;
}

p {
  word-wrap: break-word;
}

.logo {
  font-size: 1.5em;
  text-align: center;
  color: #2FD887;
}

.logo-name {
  color: #005059;
  margin: 0;
}

.logo-S {
  justify-content: center;
}

.material-icons {
  display: flex;
  align-items:  center;
}

.blue {
  color: #005059
}

.green {
  color: #2FD887;
}

.white {
  color: white;
}

.light-green {
  color: #76EBBD;
}

.background-color {
  color: #24242C;
}

.dark-gray {
  color: #5F5F65;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@media (max-width: 750px), (max-width: 1024px) {

    button {
      background: white;
    }

}
