.modal {
  width: 100vw;
  height: 100vh;
  color: #24242C;
  background: rgba(0,0,0,.5);
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.action-cap {
  display: flex;
}

.add-friend-container {
  width: 100%;
  height: auto;
  display: flex;
}

.cap {
  width: 5em;
  margin-left: 20px;
}

.length {
  width: 3em;
}

.new-section {
  width: 60%;
  margin-bottom: 30px;
}

.new-title {
  margin-bottom: 20px;
}

#new-title-input, #add-friends-button, #new-done, .length {
  padding: 15px;
  color: #24242C;
}

.selected-friend {
  color: #005059;
}

#done-section {
  width: 60%;
  margin: 65px auto auto 20px;
}

#new-done {
  width: 7em;
  background: #76EBBD;
  color: #24242C;
  display: flex;
}

#new-title-input {
  width: 100%;
  /* width: 92.5%; */
  color: #5F5F65;
}

#selected-friends {
  margin-left: 30px;
}

.selectedLength {
  background: white;
  color: #2FD887;
}

#add-friends-button {
  background: none;
  border: 2px solid #76EBBD;
  color: white;
}

#add-friend-input {
  width: 90%;
  border: 1px solid #eee;
  padding: 10px;
}

#lengths {
  display: flex;
  justify-content: space-evenly;
}

#modal-done {
  width: 6em;
  padding: 10px;
  background: #2FD887;
}

#modal-search, #modal-panel {
  height: 60vh;
  padding: 20px;
}

#modal-search {
  width: 30vw;
  border-right: 1px solid #eee;
  background: white;
}

#modal-panel {
  width: 15vw;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#modal-panel > div > h3 {
  margin-bottom: 30px;
}
