.logo {
  font-size: 1.5em;
  text-align: center;
  color: #2FD887;
}

#profile {
  display: flex;
  background: #24242C;
}

#profile-data {
  width: 25vw;
  height: 100vh;
  color: #5F5F65;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  border-right: 1px solid #76EBBD;
}

#playlist-data {
  width: auto;
  padding: 50px;
}

#logout {
  display: flex;
  justify-content: center;
}

#logout > button {
  background: none;
  text-decoration: underline;
  color: white;
  padding: 15%;
}

#new-swap {
  width: auto;
  height: 90%;
  padding: 5vh 0;
  display: flex;
  align-items: flex-end;
  padding-bottom: 25px;
  position: fixed;
  right: 2%;
}

#new-button {
  width: 3.5em;
  height: 3.5em;
  border-radius: 100%;
  background: #fff;
  background: #2FD887;
}

#new-button > .MuiButton-label-2 > i {
  font-size: 2em;
  color: #69E8FC;
  color: #24242C;

}

#content {
  width: 70vw;
  font-size: 1.25em;
  margin-left: 25vw;
  padding: 5% 5% 10% 5%;
}

#search-field {
  display: flex;
  margin-bottom: 30px;
}

#friend-modal {
  width: 35vw;
  height: 60vh;
  background: white;
}

#friends-modal-button {
  background: none;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: underline;
  color: inherit;
}

#search-icon {
  padding: 0 10px;
  display: flex;
  align-items: center;
  background: white;
  color: #2FD887;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#search-user {
  width: 90%;
  font-size: inherit;
  padding: 1.5%;
  border: 1px solid white;
  color: #64D87D;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-user::placeholder {
  color: #5F5F65;
}
