.friend-button {
  width: 6em;
  padding: 8px 5px;
}

#profile {
  display: flex;
  background: #24242C;
}

#playlist-data {
  width: auto;
  padding: 50px;
}

#new-swap {
  width: auto;
  height: 95%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 5%;
  position: fixed;
  right: 2%;
}

#new-button {
  width: 3.5em;
  height: 3.5em;
  border-radius: 100%;
  background: #fff;
  background: #2FD887;
}

#new-swap > button > span > i {
  font-size: 2em;
  color: #69E8FC;
  color: #24242C;

}

#content {
  width: 70vw;
  font-size: 1.25em;
  margin-left: 25vw;
  padding: 5% 5% 10% 5%;
}

.modal {
  width: 100vw;
  height: 100vh;
  color: #24242C;
  background: rgba(0,0,0,.5);
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.modal-cancel {
  width: 7em;
  padding: 15px;
  background: #76EBBD;
  display: flex;
  align-self: flex-end;
}

#friend-modal, #error-modal {
  width: 35vw;
  height: 60vh;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#friends, #error {
  font-size: 1.25em;
}

#friends-modal-button {
  background: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

#search-field {
  display: flex;
  margin-bottom: 30px;
}

#search-icon {
  margin-left: -1px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background: white;
  color: #2FD887;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#search-user {
  width: 90%;
  font-size: inherit;
  padding: 15px;
  border: 1px solid white;
  color: #64D87D;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#search-user::placeholder {
  color: #5F5F65;
}

@media (max-width: 975px) {

  #content {
    width: 84%;
    margin: 0;
    padding: 5% 8% 25% 8%;
  }

  #new-swap {
    height: 97%;
    padding-bottom: 3%;
  }

  #profile {
    flex-direction: column;
  }

}
